@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 0.75rem;
}

#__next {
  isolation: isolate;
  height: 100%;
}

body {
  color: #362727;
  font-weight: 400;
  background-color: rgba(252 249 243 / 70%);
}
